*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar {
  width: 100%;
}

.navbar-dark .navbar-brand {
  font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 1rem;
}

.logo {
  width: 130px;
  margin: auto;
}

.space {
  margin-bottom: 3rem;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-error {
  color: #ff0000;
  background-color: transparent;
}

.required {
  color: #ff0000;
}

.user-password,
.deactivate {
  margin-top: 5rem;
}

input {
  caret-color: #0d6efd;
}

textarea {
  resize: none;
  caret-color: #0d6efd;
}

footer {
  margin-top: 300px;
}

.spinner {
  --d: 22px;
  width: 4px;
  height: 4px;
  margin: 25% auto;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: s7 1s infinite steps(8);
}

@keyframes s7 {
  100% {
    transform: rotate(1turn);
  }
}

.redirect {
  height: 35vh;
  margin-top: 30px;
  text-align: center;
}

.redirect h5 {
  font-size: 30px;
}

.error-container {
  height: 35vh;
  text-align: center;
  font-size: 40px;
}
